:root {
  --color-red: #D95550;
  --color-red-darker: #7e3d3b;
  --main-font: 'Nunito', sans-serif;
  --main-button-background-color: none rgba(255, 255, 255, 0.11);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-red);
  max-width: 100vw;
  min-height: 100vh;
  font-family: var(--main-font);
  color: white;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

hr {
  opacity: .7;
  height: 2px!important;
  margin-top: 5px;
}

button {
  border-style: none;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

header {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
}

header .title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: 800;
  margin-bottom: 20px;
}

header .title h1 {
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 3px;
}

.modal-sm {
  max-width: 400px;
}

.pomodoro__settings button{
  display: flex;
  align-items: center;
}

.pomodoro__settings p {
  font-size: 0.9rem;
  padding-left: 5px;
}

.pomodoro__settings {
  float: right;
}

.pomodoro__settings button.setting-button, 
.pomodoro__wrapper{
  border-style: none;
  background: var(--main-button-background-color);
  color: white;
  padding: 6px 20px;
  margin-bottom: 10px;
  transition: background 0.3s;
  border-radius: 4px;
}

.pomodoro__wrapper {
  padding: 30px;
  padding-bottom: 40px;
  border-radius: 10px;
  margin-bottom: 50px;
  clear: right;
}

.pomodoro__settings button.setting-button:hover {
  background: none rgba(255, 255, 255, 0.555);
}

.pomodoro__modal {
  color: black;
}

.pomodoro__modal-settings {
  font-weight: 700;
}

.pomodoro__sections {
  display: flex;
  justify-content: space-around;
  padding: 0px 30px 20px 30px;
}

.pomodoro__sections button {
  background: none;
  color: white;
  font-weight: 800;
  font-size: 1.25rem;
  border-radius: 5px;
  padding: 4px 10px;
  transition: background 0.2s;
  transition-timing-function: ease-in;
}

.pomodoro__sections button.pomodoro__section-button-active{
  background: rgb(0 0 0 / 17%);
}

.pomodoro__countdown {
  text-align: center;
  clear: left;
}

.pomodoro__countdown h2{
  font-weight: 700;
  font-size: 7.5rem;
}

.pomodoro__start {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pomodoro__start-button {
  border: white solid 3px;
  background: white;
  color: var(--color-red);
  font-weight: 800;
  font-size: 2rem;
  border-radius: 5px;
  padding: 10px 30px;
  transition: all 0.2s;
  box-shadow: rgb(235 235 235) 0px 10px 0px;
}

.pomodoro__start-button:hover {
  border: white solid 3px;
  transform: translateY(-4px);
  box-shadow: rgb(235 235 235) 0px 14px 0px;
}

.pomodoro__start-button-active {
  border: white solid 3px;
  color: white;
  background: none;
  font-weight: 800;
  font-size: 2rem;
  border-radius: 5px;
  padding: 10px 30px;
  transition: all 0.2s;
  transform: translateY(10px);
  box-shadow: rgb(235 235 235) 0px 0px 0px;
}

.pomodoro__start-button-active:hover {
  transform: translateY(10px);
  box-shadow: rgb(235 235 235) 0px 0px 0px;
}

.pomodoro__input-time {
  margin-top: 10px;
  padding: 4px 10px;
  width: 100%;
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
}

.kanban__column {
  padding-right: 40px;
  margin-bottom: 20px;
}

.kanban__column hr{
  background: white!important;
  opacity: .8;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 2px;
}

.kanban__title {
  font-weight: 800;
  font-size: 2rem;
}

.kanban__item-input {
  color: black;
  font-weight: 600;
  padding: 10px 15px;
  box-sizing: border-box;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.kanban__item-input:focus {
  outline-color: var(--color-red);
}

.kanban__dropzone {
  height: 15px;
  transition: background 0.15s, height 0.15s;
}

.kanban__dropzone-active {
  height: 23px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.281);
}

.kanban__add-item {
  margin-top: 5px;
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.404);
  color: white;
  font-weight: 800;
  position: relative;
}

.kanban__add-item::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: rgba(0, 0, 0, 0.404) 3px dashed;
  border-radius: 5px;
}